<a href="/">Home</a>
<h1>{{product.name}}</h1>
<p>{{product.description}}</p>
<p>{{product.price}}</p>
<form action="/delete/{{product.name}}" method="get">
    <input type="submit" value="Delete item">
</form>